<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Happy Tails</title>
    <link rel='stylesheet' href='/css/jass.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM'
      crossorigin='anonymous'
    />
  </head>
  <body>
    <header id='nav-wrapper'>
      <nav id='nav'>
        <div class='navbar-left'>
          <a href='/' id='test'>Happy Tails</a>
        </div>
        <div class='navbar-right'>
          <ul>
            {{#if loggedIn}}
              {{!-- <li id='user-name'><a href='#'>Hello {{name}}!</a></li> --}}
              <li id='logout'><a href='#'>Logout</a></li>
              <li><a href='#'>Shopping Cart</a></li>

            {{else}}
              <li><a href='/signup'>Sign Up</a></li>
              <li><a href='/login'>Login</a></li>
            {{/if}}
          </ul>
        </div>
      </nav>
    </header>
    {{{body}}}
    <footer>
      <section id='email-sign-up'>
        <div class='newsletter-text'>SIGN UP FOR OUR NEWSLETTER</div>
        <div class='email-box'>
          <input type='text' placeholder='E-mail' />
          <button>SEND</button>
        </div>
      </section>
    </footer>
  </body>
  <script src='/js/logout.js'></script>
  <script
    src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js'
    integrity='sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz'
    crossorigin='anonymous'
  ></script>
</html>