{{#each serializedCategory as |Product|}}
<div>
    <a href="">
        <div>
            <img src="/images/{{Product.}}" alt="">
            <p>{{Product.}}</p>
            <p>{{Product.}}</p>
        </div>
    </a>
</div>
{{/each}}