{{#each categoryProducts as |Product|}}
<div>
    <a href="/product/{{Product.id}}">
        <div>
            <img src="{{Product.image}}" alt="">
            <p>{{Product.name}}</p>
            <p>{{Product.price}}</p>

        </div>
    </a>
</div>
{{/each}}