{{#each serializedCategory as |Product|}}
<div>
    <div id="left-column-div-cart">
        <div><img src="/images/{{}}" alt=""></div>
        <p id="product-title-cart">{{Product.}}</p>
        <p id="product-price-cart">{{Product.}}</p>
    </div>

    <div id="right-column-div-cart"></div>
</div>
{{/each}}