<div>
    <p>Create Account</p>
    <form action="">
        <input type="text">
        <input type="password">
    </form>
    <button>SIGN UP</button>
    <div>
        <p>Don't Have An Account Yet?</p>
        <p>REGISTER</p>
    </div>
</div> 