<div
  class='wrapper-div flex-column w-50 align-items-center justify-content-center'
>
  <!-- Sign in Form Title -->
  <h2>Sign in to your account</h2>
  <form id='sign-in-form'>
    <div class='flex-column'>
      <!-- Email Field -->  
      <label for='sign-in-email'>Email:</label>
      <input id='sign-in-email' type='text' placeholder='' />
    </div>
    <div class='flex-column'>
      <!-- Password Field -->  
      <label for='sign-in-password'>Password:</label>
      <input id='sign-in-password' type='password' placeholder='' />
    </div>
    <!-- Submit Button -->
    <button type='submit'>SIGN IN</button>
  </form>
  <!-- Registration Link -->
  <div class='register-link'>
    <p>Don't have an account yet?</p>
    <a href='/signup'>REGISTER</a>
  </div>
</div>

<script src='/js/signin.js'></script>