<section id="single-product-section">
  <div id='left-column'>
    <img src='{{productData.image}}' alt='' id="product-image" />
  </div>

  <div id='right-column'>

    <div class="wrapper-div">
      <div>
        <p id='product-title'>{{productData.name}}</p>
        <p id="product-price">{{productData.price}}</p>
        <div class="flex-row">
          <div id="whole-quantity-box">
            <div id='quantity-box'>
              <button class='quantity-btn' id="subtract-btn">-</button>
              <p class='quantity-value'>1</p>
              <button class='quantity-btn' id="add-btn">+</button>
            </div>
          </div>
          <div id='add-to-cart-btn-div'>
            <button id='add-to-cart-btn'>ADD TO CART</button>
          </div>
        </div>
      </div>
      <div>
        <p>DETAILS</p>
        <p>{{productData.description}}</p>
      </div>
      <div>
        <p>SHIPPING</p>
        <p>Take advantage of our exclusive offer for dog lovers! Enjoy free
          standard shipping on your entire order with any purchase of dog
          products, such as dog food, toys, leashes/collars, or dog beds. For all
          other orders over $50, we provide free standard shipping as well. Rest
          assured, returns are hassle-free with free in-store returns. Some
          restrictions may apply. Shop now and give your furry friend the love
          they deserve, with the added benefit of free shipping!</p>
      </div>
    </div>
  </div>
</section>
<script src="/js/quantitybtn.js"></script>