/* Nav bar */
#nav-wrapper {
  background-color: #f1f1f1;
  padding: 10px;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left a {
  text-decoration: none;
  color: #333;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar-left a:hover {
  background-color: #ddd;
}

.navbar-right ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-right li {
  margin-left: 10px;
}

.navbar-right a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar-right a:hover {
  background-color: #ddd;
}

/* Random */
.container {
  display: flex;
  justify-content: center;
}

.item {
  float: left;
  border: solid red 5px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  flex-basis: 25%;
  text-align: center;
}

.wrapper-div {
  margin: auto;
}

.red-error {
  color: red;
}

.product-section {
  margin-top: 25px;
  margin-bottom: 125px;
  align-items: center;
}

.product-section:last-child {
  border-bottom: none;
}

.category-title {
  margin-top: 25px;
  margin-bottom: 25px;
} 

.section-title {
  margin-bottom: 35px;
}

.product-name,
.product-price {
  color: black;
}

.product-name {
  margin-bottom: 10px;
  margin-top: 15px;
}

.product-a-tags {
  text-decoration: none;
}

/* Single Product */
#single-product-section {
  display: flex;
  width: 100vw; 
}

#right-column {
  width: 50%;
}

#quantity-box {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;  
  flex: 30%;
  justify-content: center;
}

#add-to-cart-btn-div {
  flex: 70%;
}

#add-to-cart-btn {
  width: 100%;
  padding: 9px;
  background-color: black;
  color: white;
  border: none;
}

.quantity-btn {
  height: 30px;
  background-color: transparent;
  border: 0px ;
  font-size: 16px;
  cursor: pointer;
  
}

.quantity-value {
  margin: 0 10px;
}

.wrapper-div {
  width: 60%
}

#top-section {
  padding-bottom: 25px;
  border-bottom: 1px solid black;
  margin-bottom: 25px;
}

#mid-section {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

#bottom-section {
  margin-top: 25px;
}

/* Left Column styling */
.product-img {
  max-height: 200px;
  max-width: 210px;
  object-fit: contain;
}

#left-column {
  width: 50%;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

/* Individual category */
#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

#card {
  width: calc(25% - 20px);
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Utility classes */
.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.align-items-center {
  align-items: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-content-center {
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

/* Footer */
footer {
  padding: 20px 0px;
}

#email-sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #6C6B6B;
  margin-top: 100px;
  width: 100%;
  height: 100px;
}

.newsletter-text {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  margin-right: 100px;
}

.email-box {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 5px;
  border-radius: 4px;
  margin-left: 100px;
}

.email-box input[type="text"] {
  border: none;
  outline: none;
  padding: 5px;
  font-size: 14px;
}

.email-box button {
  background-color: #6FB5B7;
  color: #fff;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 4px;
  margin-left: 5px;
  font-size: 14px;
}